* {
	
}






html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
h1{
	font-size: 3rem;
}

canvas {
		width: calc(100% - 2rem);
		height: calc(100% - 2rem);
}

#text_overlay_input
	{
		position: absolute;
		left: 0px;
		top: 0px;
		color: white;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow: hidden;
		pointer-events: none;
	}
.grid_numbers
		{
			position: absolute;
			color: rgba(255,255,1,1);
			font-size: 1.3rem;
		}

#title_div{
		grid-column: 1;
		grid-row: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}


@media (orientation: portrait)
{
	#Body{
		background-color: white;
		min-height: 100dvh;
		top: 0rem;
		bottom: 0rem;
		position: auto;
		display: grid;
		width: 100%;
		/*min-width: 375px; hay que calcular todo a mano*/
		height: auto;

		grid-template-rows: 0.5fr 7fr;
		/*grid-auto-columns: auto;*/
	}




	#Content{
		display: grid;
		height: auto;
		grid-template-columns: 0.2fr 1fr;
		grid-template-rows: minmax(25rem, 4fr)  2.5fr minmax(25rem, 4fr);
		place-content: center;

		min-height: 0;
	}

	

	#input_display{
		grid-column: 1 / span 2;
		grid-row: 1/2;

		position: relative;

	}

	#output_display{
		grid-column: 1 / span 2;
		grid-row: 3/4;
	}

	#uploadBtn {
		margin: 10px;
		grid-row: 2/3;
		grid-column: 2;
		width: 12rem;
		height: 3rem;
		 justify-self: end;
		 cursor: pointer;
	}


	#arrow{
		background-color: white;
		grid-column: 1/2;
		grid-row: 2/3;

		display: grid;
		place-content: center;
	}

	#svg_Horizontal{
		display: none;
	}

	#svg_Vertical{
		max-height: 15rem;
	}


	


	#input{
		background-color: none;
		grid-column: 2;
		grid-row: 2/3;

		display: grid;
		place-content: center;
	}

	.canvasContainer {
		display: flex;
		justify-content: center;
		align-items: center;

		/* NEW: prevent content from pushing row height */
		overflow: hidden;
		min-height: 50px;
		min-width: 50px;

	}

	

	/* El problema es este flex y el canvas*/
	/*
	.canvasContainer{
		display: grid;
		grid-template-columns: 50px 1fr 50px;
		grid-template-rows: 50px 1fr 50px;

		height: 100%;
		justify-content: center;
		align-items: center;
	}

	canvas{
		grid-column: 2 / 3;
		grid-row: 2/3;
	    width: calc(100%);
	    height: calc(100%);
	    background: brown;
	}

	.canvasContainer{
		display: flex;
		flex: 0;
		height: 100%;
		justify-content: center;
		align-items: center;
	}

	canvas{
		width: calc(100% - 2rem);
		height: calc(100% - 2rem);
	}
	*/
}


@media (orientation: landscape)
{
	#Body{
		background-color: white;
		position: absolute;
		top: 0rem;
		bottom: 0rem;

		display: grid;
		width: 100%;
		height: 100%;

		grid-template-rows: 0.5fr minmax(500px, 7fr);
		/*grid-auto-columns: auto;*/
	}


	#Content{
		background-color: white;

		display: grid;
		grid-template-columns: 4fr 1fr 4fr;
		grid-template-rows: minmax(300px, 5fr) 5rem minmax(200px, 2fr);
		place-content: center;
		height: 100%;
	}

	#title_div{
		background-color: white;
	}

	#input_display{
		background-color: white;
		grid-column: 1/2;
		grid-row: 1/2;

		position: relative;

	}

	#output_display{
		background-color: white;
		grid-column: 3/4;
		grid-row: 1/2;

	}

	#uploadBtn {
		margin: 10px;
		grid-row: 2/3;
		grid-column: 1;
		width: 12rem;
		cursor: pointer;
	}

	#arrow{
		grid-column: 2/3;
		grid-row: 1/2;

		display: grid;
		place-content: center;
	}
	#svg_Vertical {
		display: none;
	}

	


	#input{
		background-color: none;
		grid-column: 1/4;
		grid-row: 2/4;

		display: grid;
		place-content: center;
	}

	


	.canvasContainer{
		display: flex;
		flex: 1;
		height: 100%;
		justify-content: center;
		align-items: center;

		min-height: 50px;
		min-width: 50px;
		overflow: hidden;
	}

}





.modal-container {
	font-family: sans-serif;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.modal {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	width: 400px;


}

.modal-content {
	padding: 20px;
}

.modal-form div {
	margin: 20px 0;
}

.modal-form label {
	display: block;
	margin-bottom: 6px;
}

.modal-form .form-input, .resolution-input {
	padding: 8px;
	width: 100%;
}

.close-btn {
	background: transparent;
	border: none;
	font-size: 25px;
	position: absolute;
	top: 5px;
	right: 12px;
	cursor: pointer;
}

.modal-container .submit-btn {
	padding: 10px 30px;
	font-weight: bold;
	background-color: crimson;
	border: none;
	color: #fff;
	cursor: pointer;

}

/*JS*/
.modal-container.show-modal {
	display:block;
}


/*Chnage span display as bloc
isplay:inline-block;
*/

	/* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

/*
#Display{
	background-color: blue;
	flex: 1 1 auto;
}


#Display canvas{
	position: relative;
	align: center;
}

#input{
	flex: 0 1 15rem;
	background-color: yellow;
}
*/